.row {
  padding: 0.5em 1em;
}
.row > h2 {
  color: white;
  margin-left: 0.8em;
  letter-spacing: 2px;
}
.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 0.5em 1.2em;
}

.row__poster,
.row__posterSmall {
  object-fit: contain;
  height: 14.5em;
  margin: 0 0.4em;
  transition: transform 0.22s linear;
}
.row__poster:first-of-type,
.row__posterSmall:first-of-type {
  margin: 0 0.4em 0 0;
}
.row__posterSmall {
  height: 6em;
}
.row__poster:hover,
.row__posterSmall:hover {
  transform: scale(1.07);
}
.row__posters::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .row > h2 {
    margin-left: 0.6em;
  }
  .row__posters {
    padding: 0.5em 1.2em 0.5em 1em;
  }
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .row > h2 {
    margin-left: 0;
  }
  .row__posters {
    padding: 0.5em 1.2em 0.5em 0em;
  }
}
